html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    margin : 0;
    }

body{
    background-color: #9BA4B1 ;
}


.navbar{
    width: auto;
    padding: 0;
    background-color: #EEEEEE;
    font-family: FiraCode NF;
    font-size: 40px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.Navlinks{
    text-decoration: none;
    font-family: FiraCode NF;
    font-size: 35px;
    color: black;
    padding-left: 5%;
}


.main{
    position: absolute;
    background-color: #EEEEEE;
    margin-left: 3%;
    width: 160vh;
    height: 80vh;
    font-family: Holtwood One SC;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbarmain{
    position: absolute;
    background-color: #535e89;
    width: 160vh;
    height: 5vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.address-bar{
    background-color: #b2bbdd;
    margin-top: 0.5vh;
    margin-left: 39vh;
    width: 80vh;
    height: 3.9vh;
    border-radius: 20px;
    position: inherit;
}

.address-bar p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2B3047;
    padding-top: 0.7vh;
    padding-left: 23vh;
}

.main-text{
    padding-top: 8%;
    padding-left: 3%;
    font-family: Holtwood One SC;
    font-size: 70px;
    color: #2B3047;
    line-height: 90px;
}

.heading-text{
    padding-right: 400px;
    padding-top: 30px;
    padding-left: 3%;
    color: #2B3047;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list{
    padding-right: 400px;
    padding-left: 3%;
    color: #2B3047;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: #2B3047;
}
a:hover{
    color: #535e89;
}

.side-apps{
    margin-left: 175vh;
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}

.side-apps img{
    width: 108px;
}

.headings{
    text-decoration:underline;
    padding-right: 400px;
    padding-top: 30px;
    padding-left: 3%;
    color: #2B3047;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
    width: 120vh;
    padding-right: 400px;
    padding-left: 3%;
    color: #2B3047;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
